<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logconsole" xsi:type="Console" layout="${date}|${level:uppercase=true}|${message}${exception:format=tostring}|${logger}|${all-event-properties}" />

    <target name="logfile" xsi:type="File" fileName="logFile.txt" layout="${longdate} ${level} ${message}" keepFileOpen="false"/>
  </targets>

  <rules>
    <logger name="*" minlevel ="Trace" writeTo="logconsole,logfile"/>
  </rules>
</nlog>